/* Nav Section */
#nav{
    background-color: rgba(217, 165, 224, 0.7);
    border: none;
}
#profile, #prof-but-col{
    padding: 0 0 0 0;
    margin: 8px 16px 0 16px;
    border: none;
}
#prof-pic, #prof-pic2{
    max-width: 34px;
}
.modal-title small{
    padding-left: 15px;
}
.mar-top-50{
    margin-top: 30vh;
}
#men-but span{
    background-color:#fdfed2;
}
.mar-bot-10{
    margin-bottom: 10px;
}
.no-back{
    background-color: rgba(0, 0, 0, 0) !important;
}
.no-border{
    border: none;
}
.nav-txt-color{
    color: #fdfed2 !important;
}
.hover:hover{
    background-color: rgba(217, 165, 224, 1);
}
.drop-menu{
    background-color: rgba(243, 178, 202, 1) !important;
    color: #fdfed2 !important;
    margin-top: 7px;
}
.hov-menu:hover{
    background-color: rgba(217, 165, 224, 1) !important;
}
.links:link{
    text-decoration: none;
    color: #fdfed2;
}
.links:visited{
    text-decoration: none;
    color: #fdfed2;
}
.form-group input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #5c57a7;
    height: 50px;
    box-shadow: none;
    border-radius: 0;
    color: #fdfed2;
    max-width: 50vh;
    margin: 0 auto;
}
.form-group input::placeholder{
    color: #fdfed2;
}
.form-group input:focus{
    box-shadow: 0px -10px 10px -10px #fdfed2 inset;
    border-color: #fdfed2;
}
.alert, .alert-danger{
    background-color: transparent !important;
    border: none;
    margin: 0 auto;
    max-width: 500px;
}
#loginButton{
    max-width: 50vh;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #5c57a7;
    border: none;
    margin-bottom: 30px;
    color: #fdfed2;
}
#header-container{
    width: 100%;
    background-image: url("../img/home/home_header_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.help-block{
    color: #c72828;
}
#header-title{
    padding-top: 10vh;
    color: #fdfed2;
    font-weight: 200;
}
#header-subtitle{
    color: #c595c0;
    font-weight: 100;
    text-shadow: 0px 1px 5px black;
}
#links-row{
    margin-top: 8vh;
}
#links-col{
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}
#link-register, #link-login{
    font-weight: 100;
    text-shadow: 0px 1px 10px black;
}
#links {
    color: #fdfed2;
    font-weight: 100;
}
#search-col{
    float: none;
    margin: 0 auto;
}
#search-box-wrapper{
    box-shadow: 0px 1px 10px lightblue;
}
#intro-paragraph-row{
    background-color: lightgray;
}
#intro-paragraph-col{
    float: none;
    margin: 0 auto;
}
#intro-paragraph{
    margin-bottom: 0px;
}
#intro-title{
    padding-top: 35px;
    padding-bottom: 35px;
}
#review-box-row{
    margin-top: 50px;
}

#review-box1, #review-box2, #review-box3{
    padding-bottom: 20px;
}
#review-box1-pic, #review-box2-pic, #review-box3-pic{
    width: 130px;
}
#review-box1-txt{
    float: left;
}
#faq-container{
    margin-bottom: 100px;
}
#faq-box1, #faq-box2, #faq-box3, #faq-box4{
    padding-top: 50px;
}
#dating-container{
    margin-bottom: 100px;
}
#dating-header-row{
    margin-bottom: 50px;
}
#dating-profile1-pic, #dating-profile2-pic{
    width: 200px;
}
#footer-container{
    background-color: #d87f91;
}
#footer-row{
    margin-bottom: 20px;
}
#footer-box-row{
    display: flex;
    justify-content: space-between;
}
#footer-box1-txt{
    font-size: 60%;
}
#footer-links-row{
    margin-top: 10px;
}
#footer-links-col{
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}
#footer-links-container{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
#footer-links-container a{
    font-weight: 100;
    font-size: 10px;
}