#prof-pic, #prof-pic2{
    max-width: 34px;
}
.header-container{
    width: 100%;
    background-image: url("../img/home/home_header_background.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    filter: blur(5px) grayscale(30%);
    height: 100vh;
    z-index: -1;
    position: fixed;
}
.header-container .title-container{
    filter: none;
    z-index: 9999;
    position: fixed;
}
.title-container .text-center{
    color: black;
}
.header-container .carousel-container{
    filter: none;
    position: fixed;
    z-index: 9999;
}
.table-container{
    margin-top: 5px;
    color: black;
}
.table-container table{
    border-color: rgba(217, 165, 224, 0.7)
}
#profile, #prof-but-col{
    padding: 0 0 0 0;
    margin: 8px 16px 0 16px;
    border: none;
}
.modal-title small{
    padding-left: 15px;
}
#header-container{
    width: 100%;
    background-image: url("../img/home/home_header_background.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}
#nav{
    background-color: rgba(217, 165, 224, 0.7);
    border: none;
}
#men-but span{
    background-color:#fdfed2;
}
.no-back{
    background-color: rgba(0, 0, 0, 0) !important;
}
.no-border{
    border: none;
}
.nav-txt-color{
    color: #fdfed2 !important;
}
.hover:hover{
    background-color: rgba(217, 165, 224, 1);
}
.drop-menu{
    background-color: rgba(243, 178, 202, 1) !important;
    color: #fdfed2 !important;
    margin-top: 7px;
}
.hov-menu:hover{
    background-color: rgba(217, 165, 224, 1) !important;
}

.header-address .rating-wrapper{
    display: inline;
    margin-left: 10px;
}
.rating-wrapper .glyphicon-star-empty{
    margin-left: -5px;
}
.ind-wrap{  
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.ind {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.carousel-container{
    padding: 5px;
}
.title-container{
    margin-top: 5vh;
    margin-bottom: 10px;
}
.title-container h2{
    margin-bottom: 0px;
}
.title-container small{
    font-size: 100%;
}
.table-container .table{
    width: 700px;
    margin: 0 auto;
}
.carousel-indicators{
    position: relative;
    margin-top: 25px;
    width: 100% !important;
    left: 0% !important;
    margin-left: 0% !important;
}
.carousel-indicators img:hover{
    border: 3px solid rgba(217, 165, 224, 1);
}
.carousel{
    width: 1000px;
    margin: 0 auto;
    height: 200px !important;
    overflow: hidden;
    background-color: transparent;
}
.back{
    background-color: red;
}
.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.map-wrapper{
    height: 225px;
    width: 700px;
    margin: 0 auto;
}
@media only screen and (max-width: 700px){
    .carousel{
        width: 340px;
        height: 200px;
        margin: 0 auto;
    }
    .item img{
        width: 340px;
        height: 200px;
        margin: 0 auto;
    }
}
#review-box-row{
    margin-top: 50px;
}
#review-box1, #review-box2, #review-box3{
    padding-bottom: 20px;
}
#review-box1-pic, #review-box2-pic, #review-box3-pic{
    width: 130px;
}
#review-box1-txt{
    float: left;
}
#footer-container{
    background-color: #d87f91;
}
#footer-row{
    margin-bottom: 20px;
}
#footer-box-row{
    display: flex;
    justify-content: space-between;
}
#footer-box1-txt{
    font-size: 60%;
}
#footer-links-row{
    margin-top: 10px;
}
#footer-links-col{
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}
#footer-links-container{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
#footer-links-container a{
    font-weight: 100;
    font-size: 10px;
}
.center{
    display: flex;
    justify-content: space-around;
}
.text-box{
    border-radius: 5px;
    background-color: rgba(250, 214, 227, 0.75);
    
}
.box-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.no-padding{
    padding: 0 0 0 0;
}
.bot-margin{
    margin-bottom: 20px;
}
.no-border{
    border: none !important;   
}