.mar-bot{
    margin-bottom: 20px;
}
.header-container{
    width: 100%;
    background-image: url("../img/home/home_header_background.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}
/* Nav Element */
#nav{
    background-color: rgba(217, 165, 224, 0.7);
    border: none;
}
#profile, #prof-but-col{
    padding: 0 0 0 0;
    margin: 8px 16px 0 16px;
    border: none;
}
#prof-pic, #prof-pic2{
    max-width: 34px;
}
#men-but span{
    background-color:#fdfed2;
}
.modal-title small{
    padding-left: 15px;
}
.no-back{
    background-color: rgba(0, 0, 0, 0) !important;
}
.no-border{
    border: none;
}
.nav-txt-color{
    color: #fdfed2 !important;
}
.hover:hover{
    background-color: rgba(217, 165, 224, 1);
}
.drop-menu{
    background-color: rgba(243, 178, 202, 1) !important;
    color: #fdfed2 !important;
    margin-top: 7px;
}
.hov-menu:hover{
    background-color: rgba(217, 165, 224, 1) !important;
}
.links:link{
    text-decoration: none;
    color: #fdfed2;
}
.links:visited{
    text-decoration: none;
    color: #fdfed2;
}

/* Search Results */
.user-product-link{
    text-decoration: none !important;
    color: inherit;
}
.user-product-link:hover{
    color: inherit;
}
.carousel-max-height{
    max-height: 20vh;
}
#header-container{
    width: 100%;
    background-image: url("../img/home/home_header_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.header-title{
    padding-top: 10vh;
    color: #fdfed2;
    font-weight: 200;
}
.secondary-title{
    color: #873992;
    text-shadow: 0px 0px 5px white;
    margin-bottom: 30px;
}
#header-subtitle{
    font-weight: 200;
    color: #c595c0;
    font-weight: 100;
    
}
#links-row{
    margin-top: 5vh;
}
#links-col{
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}
#link-register, #link-login{
    font-weight: 100;
    text-shadow: 0px 1px 10px black;
}
#links {
    color: #fdfed2;
    font-weight: 100;
}
#search-row{
    margin-top: 15vh;
    padding-bottom: 10vh;
}
#search-box-wrapper{
    box-shadow: 0px 1px 10px lightblue;
    max-width: 400px;
    margin: 0 auto;
}
.slider{
    margin-top: 10px;
}
.submit{
    margin: auto;
    max-width: 500px;
}
.form-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#dating-container{
    margin-bottom: 100px;
}
#dating-header-row{
    margin-bottom: 50px;
}
#dating-profile1-pic, #dating-profile2-pic{
    width: 200px;
}
#nested-carousel img{
    object-fit: contain;
    width: 100%;
    max-height: 790px;
}
#map{
    height: 400px;
    width: 100%;
}
/* Nested Carousel */
.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../img/carousel/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.5;
    left: 100px;
    background-image: url(../img/carousel/paddle_prev_999.png);
    background-color: rgba(250, 214, 227, 0.75);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.5;
    right: 100px;
    background-image: url(../img/carousel/paddle_next_999.png);
    background-color: rgba(250, 214, 227, 0.75);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../img/carousel/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../img/carousel/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.carousel-nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.carousel-nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.carousel-nav ul {
    margin: 0;
    width: 100%;
}

.carousel-nav .dot, .carousel-nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

