<!-- Nav Menu -->
<nav class="navbar navbar-default navbar-fixed-top" id="nav">
    <div class="container-fluid">
            <!-- Logo Link -->
        <div class="navbar-header"> 
            <a class="navbar-brand nav-txt-color links" href="/"><strong>Wikendr</strong></a>
                <!-- Profile Pic Button -->
             <button id="prof-but-col" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#prof-list" aria-expanded="false">
                <img src={{authUser.picURL}} alt="profile picture" class="img-circle img-responsive" id="prof-pic">
            </button>
                <!-- Small Screen Menu Toggle Button -->
            <button id="men-but" type="button" class="navbar-toggle collapsed no-border no-back" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Dropdown List for Small Screen Profile Pic Button (is hidden on md and lg screens) -->
        <div class="collapse hidden-md hidden-lg" id="prof-list" aria-labelledby="prof-but-exp">
        <ul class="nav navbar-nav">
            <li><a class="nav-txt-color text-right links" href="#" data-toggle="modal" data-target="#myModal" ng-click="getAge()">Profile</a></li>
            <li><a class="nav-txt-color text-right links" href="#" ng-click="logout()">Logout</a></li>
        </ul>
        </div>
        <!-- Profile Pic Button with Popup list for large screens (is hidden below sm screen size) -->
        <div class="dropdown navbar-right">
            <button class="btn btn-default dropdown-toggle visible-md-inline-block visible-lg-inline-block visible-sm-inline-block no-back" type="button" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img src={{authUser.picURL}} alt="profile picture" class="img-circle img-responsive" id="prof-pic2">
            </button>
            <ul class="dropdown-menu drop-menu" aria-labelledby="profile">
                <li><a class="hov-menu links" href="#" data-toggle="modal" data-target="#myModal" ng-click="getAge()">Profile</a></li>
                <li><a class="hov-menu links" href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <!-- Link List for small screen button and to be displayed on large screens -->
        <div class="collapse navbar-collapse no-border" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="hover"><a class="nav-txt-color links" href="/">Home</a></li>
                <li class="hover"><a class="nav-txt-color links" href="/groups">Groups</a></li>
                <li class="hover"><a class="nav-txt-color links" href="/accounts/user">User Page</a></li>
            </ul>   
        </div>
    </div>
</nav>
<!-- User Profile Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{authUser.username}}<small>{{authUser.gender}}</small><small>{{userAge}} years old</small></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4 mar-bot-10">
                        <img class="img-responsive img-circle" src="{{authUser.picURL}}" alt="profile picture">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">About {{authUser.username}}</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{authUser.about}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{authUser.username}} enjoys the following:</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="interest in authUser.interests">{{interest}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>