
.background{
    width: 100%;
    position: fixed;
    z-index: -10;
}
.background img{
    position: absolute;
    width: 100%;
    height: 100vh;
}
#header-title{
    padding-top: 10vh;
    color: #fdfed2;
    font-weight: 200;
}
#header-subtitle{
    color: #c595c0;
    font-weight: 100;
    text-shadow: 0px 1px 5px black;
}
.form{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-group{
    border-radius: 5px;
    background-color: rgba(250, 214, 227,0.7);
    max-width: 500px;
    margin: 0 auto;
}
.back{
    background-color: rgba(250, 214, 227,0.7);
}
.number-label{
    background: #DF6E98;
    color: #fdfed2;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 150;
    margin-right: 15px;
    margin-left: 5px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px 15px 15px 0px;

}
.padding-right{
    padding-right: 30px;
    padding-left: 2px;
}
.mar-bot{
    margin-bottom: 20px;
}
.dob-input{
    box-sizing: content-box;
    border-radius: 4px;
    box-shadow: none;
}
.no-marg{
    margin: 0 0 0 0;
}
.help-block-pad{
    padding-top: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.error-box{
    border: 1px solid rgb(169, 68, 66);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
.success-box{
    border: 1px solid rgb(60, 118, 61);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
.label-text{
    color: #333 !important;
}
legend{
    border-bottom: none;
    color: #5758b4;
}
#legend{
    padding-top: 10px;
}
#file-upload{
    display: inline;
}
.border-bottom{
    padding-bottom: 5px;
    border-bottom: solid 1px #5758b4;
}
#interests{
    list-style: none;
}  
#list input{
  display: inline-block;  
  margin-top: 5px;
  margin-left: 10px;
}
.input-label{
    padding-left: 10px;
}
#about-you{
    margin-bottom: 15px;
}
#register{
    background-color: #DF6E98;
    border: none;
    margin-bottom: 30px;
    color: #5758b4;
}
.no-bot-pad{
    margin-bottom: 0px !important;
}
.no-back{
    background: none;
}
.cust-addon{
    background: white;
    border: none !important;
}