<link rel="stylesheet" type="text/css" href="css/home_page.css">
<navsection ng-show="userLoggedIn"></navsection>
<!-- Header Element -->
<header id="header-container" class="container-fluid">
    <!-- Header Title and Subtitle -->
  <h1 id="header-title" class="text-center">Welcome to <strong>Wikendr!</strong><br>
  <small id="header-subtitle">A Place to Organise Your Weekend and Meet New People</small></h1>

    <!-- Links -->
  <section id="links-row" class="row" ng-show="!userLoggedIn">
    <div id="links-col" class="col-sm-12">
      <h3 id="links" class="text-center"><a href="#" id="link-login" class="links" ng-click="loginToggle()">Login</a>  | <a href="/accounts/register" id="link-register" class="links">Register</a></h3>
    </div>
  </section>

<!-- Login Section -->
<div class="row">
  <form name="loginForm" id="loginForm" ng-submit="login(loginForm.$valid)" novalidate method="post" ng-show="loginShow">
    <div class="form-group">
      <div class="form-group">
        <input type="text" name="email" ng-model="email" placeholder="Email" class="form-control" ng-pattern="/^([A-Za-z0-9_\-\.]){1,}\@([A-Za-z0-9_\-\.]){1,}\.([A-Za-z]){2,4}$/" ng-required="true">
        <div class="alert alert-danger" ng-show="loginForm.email.$error.required && (!loginForm.email.$pristine || loginForm.$submitted)">
        <p class="help-block" >Please provide valid email to login</p>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" ng-model="password" placeholder="Password" class="form-control" ng-required="true" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" ng-trim="false" ng-minlength="8" ng-maxlength="10">
        <div class="alert alert-danger" ng-show="loginForm.password.$error.required && (!loginForm.password.$pristine || loginForm.$submitted)">
        <p class="help-block">Please provide valid password to login</p>
        </div>
      </div>
      <button id="loginButton" type="submit" class="btn btn-primary btn-lg btn-block "><strong>Login</strong></button>
    </div>
  </form>
</div>
    <!-- Search Box -->
<section id="search-row" class="row" ng-show="!loginShow" ng-class="{'mar-top-50':userLoggedIn}">
  <article id="search-col" class="col-sm-6">
  <form id="search-form">
    <section id="search-box-wrapper" class="input-group">
      <span id="search-symbol-placeholder" class="input-group-btn">
        <button id="search-button" type="submit" class="btn btn-default">
          <span id="search-symbol" class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
      <input id="search-box" type="text" class="form-control" placeholder="How Do You Like To Spend Your Time?" aria-describedby="search-symbol-placeholder"> 
    </section>
  </form>
  </article>
</section>

</header> <!-- end of Header Element -->

<!-- Intro Section - What is Wikendr? -->
<section id="intro-container" class="container-fluid">
    <!-- Title and Paragraph -->
  <article id="intro-title-row" class="row">
    <section id="intro-title-col" class="col-lg-12">
      <h1 id="intro-title" class="text-center">What is Wikendr?</h1>
    </section>
  </article>
  <article id="intro-paragraph-row" class="row">
        <section id="intro-paragraph-col" class="col-sm-6">
          <p id="intro-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </section>
  </article>
    <!-- Review Boxes -->
    <!-- Box1 -->
  <article id="review-box-row" class="row">
    <section id="review-box1" class="col-md-4">
      <article id="review-box1-innerwrap" class="media">
        <section id="review-box1-innerwrap-pic" class="media-left">
          <img id="review-box1-pic" class="media-object" src="../img/home/Review_pic1.jpeg" alt="User picture 1">
        </section>
        <section id="review-box1-innerwrap-txt" class="media-body">
          <blockquote id="review-box1-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="review-box1-txt"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </section>
      </article>
    </section>
      <!-- Box2 -->
    <section id="review-box2" class="col-md-4">
      <article id="review-box2-innerwrap" class="media">
        <section id="review-box2-innerwrap-pic" class="media-left">
          <img id="review-box2-pic" class="media-object" src="../img/home/Review_pic2.jpeg" alt="User picture 2">
        </section>
        <section id="review-box2-innerwrap-txt" class="media-body">
          <blockquote id="review-box2-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="review-box2-txt"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </section>
      </article>   
    </section>
      <!-- Box3 -->
    <section id="review-box3" class="col-md-4">
      <article id="review-box3-innerwrap" class="media">
        <section id="review-box3-innerwrap-pic" class="media-left">
          <img id="review-box3-pic" class="media-object" src="../img/home/Review_pic3.jpeg" alt="User picture 3">
        </section>
        <section id="review-box3-innerwrap-txt" class="media-body">
          <blockquote id="review-box3-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="review-box3-txt"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </section>
      </article>
    </section>
  </article> <!-- end of Review Boxes -->

</section> <!-- end of Intro Section -->

<!-- FAQ section - How Wikendr Works? -->
<section id="faq-container" class="container-fluid">
  <article id="faq-row" class="row">
      <!-- FAQ Title -->
    <section id="faq-title-col" class="col-lg-12">
      <h1 id="intro-title" class="text-center">How Does Wikendr Works?</h1>
    </section>
      <!-- FAQ Boxes -->
      <!-- Box1 -->
    <section id="faq-box1" class="col-md-3">
      <h1 id="faq-box1-title" class="text-center">Become a Member</h1>
      <p id="faq-box1-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    </section>
      <!-- Box2 -->
    <section id="faq-box2" class="col-md-3">
      <h1 id="faq-box2-title" class="text-center">Tell Us About Yourself</h1>
      <p id="faq-box2-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    </section>
      <!-- Box3 -->
    <section id="faq-box3" class="col-md-3">
      <h1 id="faq-box3-title" class="text-center">Give Us a Clue</h1><br><br>
      <p id="faq-box3-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    </section>
      <!-- Box4 -->
    <section id="faq-box4" class="col-md-3">
      <h1 id="faq-box4-title" class="text-center">Get Your Wikendr Started!</h1>
      <p id="faq-box4-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    </section>
  </article>
</section> <!-- end of FAQ Section -->

<!-- Dating Section - Want to Meet People? -->
<section id="dating-container" class="container-fluid">
    <!-- Dating Title -->
  <article id="dating-header-row" class="row">
    <section id="dating-header-col" class="col-lg-12">
      <h1 id="dating-header" class="text-center">Want to Meet Trully Like-Minded People?</h1>
    </section>
  </article>
    <!-- Dating Boxes -->
    <!-- Box1 -->
  <article id="dating-row" class="row">
    <section id="dating-profile1" class="col-sm-6">
      <article id="dating-profile1-innerwrap" class="media">
        <section id="dating-profile1-innerwrap-pic" class="media-left">
          <img id="dating-profile1-pic" class="media-object" src="img/home/dating_pic1.jpg" alt="dating picture 1">
        </section>
        <section id="dating-profile1-innerwrap-txt" class="media-body">
          <blockquote id="dating-profile1-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="dating-profile1-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </section>
      </article>
    </section>
      <!-- Box2 -->
    <section id="dating-profile2" class="col-sm-6">
      <article id="dating-profile2-innerwrap" class="media">
        <section id="dating-profile2-innerwrap-pic" class="media-left">
          <img id="dating-profile2-pic" class="media-object" src="img/home/dating_pic2.jpg" alt="dating picture 2">
        </section>
        <section id="dating-profile2-innerwrap-txt" class="media-body">
          <blockquote id="dating-profile2-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="dating-profile2-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </section>
      </article>
    </section>
  </article>
</section> <!-- end of Dating Section -->

<!-- Footer Section -->
<footer id="footer-container" class="container-fluid">
    <!-- Footer Title -->
  <article id="footer-row" class="row">
  <section id="footer-title-col" class="col-lg-12">
    <h1 id="footer-titele" class="text-center">Wikendr</h1>
  </section>
</article>
    <!-- Footer Content Boxes -->
<article id="footer-box-row" class="row">
  <section id="footer-box1-col" class="col-sm-3">
    <p id="footer-box1-txt" class="text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
  <section id="footer-box1-col" class="col-sm-3">
    <p id="footer-box1-txt" class="text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
  <section id="footer-box1-col" class="col-sm-3">
    <p id="footer-box1-txt" class="text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
</article>
    <!-- Footer Links -->
     <section id="footer-links-row" class="row">
    <article id="footer-links-col" class="col-sm-12">
      <h3 id="footer-links-container"><span id="footer-copyright" class="text-left">© All Rights Reserved 2017</span><span id="footer-links" class="text-center"><a href="#" id="footer-link-home" class="links">Home</a>  | <a href="#" id="footer-link-register" class="links">Register</a>  | <a href="#" id="footer-link-login" class="links">Login</a>  | <a href="#" id="footer-link-groups" class="links">Groups</a>  | <a href="#" id="footer-link-faq" class="links">FAQ</a>  | <a href="#" id="footer-link-advertisers" class="links">Advertisers</a>  | <a href="#" id="footer-link-corporate" class="links">Corporate</a>  | <a href="#" id="footer-link-careers" class="links">Careers</a></span><span id="footer-madeby" class="text-right">Website constructed by SlavCo</span></h3>
    </article>
  </section>
</footer>