<link rel="stylesheet" type="text/css" href="css/product.css">

<div class="header-container"></div>
<navsection ng-show="userLoggedIn"></navsection>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="container-fluid title-container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h1>{{placeObj.name}}</h1>
                  <h4 class="text-center header-address">{{placeObj.formatted_address}}
                      <div class="rating-wrapper">
                        <span class="glyphicon glyphicon-star" aria-hidden="true" ng-repeat="rating in placeObj.ratingArray"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true" ng-show="placeObj.halfRating"></span> 
                      </div>
                    </h4>
                </div>
                </div>
            </div>
      </div>
      <div class="col-md-6 ">
        <div class="container-fluid carousel-container">
          <div class="row">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item" ng-repeat="url in placeObj.photoUrls" ng-class="{'active': url == placeObj.photoUrls[0]}">
                        <!-- Controls -->
                          <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                            <!-- Slides -->
                        <img ng-src="{{url}}" alt="photo of your selected place">
                      </div>
                    </div>
                  </div>
            </div>
            <!-- Indicators -->
            <div class="col-md-12 text-center hidden-xs carousel-indicators">
              <img data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-src="{{url}}" class="ind image-responsive" ng-repeat="url in placeObj.photoUrls">
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-6 table-container text-center">
        <div class="row">
            <div class="col-mad-12">
                <div class="row">
                <div class="map-wrapper" id="map"></div>
                </div>
            </div>
          <div class="col-md-12">
          <table class="table table-condensed ">
              <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
              <tr>
                <td>{{placeObj.timeArray[0]}}</td>
                <td>{{placeObj.timeArray[1]}}</td>
                <td>{{placeObj.timeArray[2]}}</td>
                <td>{{placeObj.timeArray[3]}}</td>
                <td>{{placeObj.timeArray[4]}}</td>
                <td>{{placeObj.timeArray[5]}}</td>
                <td>{{placeObj.timeArray[6]}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-12">
            <div class="row ratings">
                <div class="col-md-4 col-xs-4">
                    <h4 class="badge">{{placeObj.rating}}</h4>
                  </div>
              <div class="col-md-4 col-xs-4">
              <h4>{{placeObj.ratingStatement}}</h4>
              </div>
            <div class="col-md-4 col-xs-4">
              <h4>{{placeObj.reviews.length}} reviews</h4>
            </div>
              
            </div>
          </div>
        </div>
        
      </div>
  </div>
</div>


<!-- Review Boxes -->
<div class="container-fluid">
    <header><h2 class="text-center"> What Others Are Saying?</h2></header>
    <!-- Box1 -->
  <article id="review-box-row" class="row">
    <section id="review-box1" class="col-sm-4">
      <article id="review-box1-innerwrap" class="media">
        <section id="review-box1-innerwrap-pic" class="media-left">
          <img id="review-box1-pic" class="media-object" src="../img/home/Review_pic1.jpeg" alt="User picture 1">
        </section>
        <section id="review-box1-innerwrap-txt" class="media-body">
          <blockquote id="review-box1-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="review-box1-txt"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </section>
      </article>
    </section>
      <!-- Box2 -->
    <section id="review-box2" class="col-sm-4">
      <article id="review-box2-innerwrap" class="media">
        <section id="review-box2-innerwrap-pic" class="media-left">
          <img id="review-box2-pic" class="media-object" src="../img/home/Review_pic2.jpeg" alt="User picture 2">
        </section>
        <section id="review-box2-innerwrap-txt" class="media-body">
          <blockquote id="review-box2-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="review-box2-txt"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </section>
      </article>   
    </section>
      <!-- Box3 -->
    <section id="review-box3" class="col-sm-4">
      <article id="review-box3-innerwrap" class="media">
        <section id="review-box3-innerwrap-pic" class="media-left">
          <img id="review-box3-pic" class="media-object" src="../img/home/Review_pic3.jpeg" alt="User picture 3">
        </section>
        <section id="review-box3-innerwrap-txt" class="media-body">
          <blockquote id="review-box3-txt-heading" class="media-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>
          <p id="review-box3-txt"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </section>
      </article>
    </section>
  </article> <!-- end of Review Boxes -->
</div>
<!-- Footer Section -->
<footer id="footer-container" class="container-fluid">
    <!-- Footer Title -->
  <article id="footer-row" class="row">
  <section id="footer-title-col" class="col-lg-12">
    <h1 id="footer-titele" class="text-center">Wikendr</h1>
  </section>
</article>
    <!-- Footer Content Boxes -->
<article id="footer-box-row" class="row">
  <section id="footer-box1-col" class="col-sm-3">
    <p id="footer-box1-txt" class="text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
  <section id="footer-box1-col" class="col-sm-3">
    <p id="footer-box1-txt" class="text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
  <section id="footer-box1-col" class="col-sm-3">
    <p id="footer-box1-txt" class="text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
</article>
    <!-- Footer Links -->
     <section id="footer-links-row" class="row">
    <article id="footer-links-col" class="col-sm-12">
      <h3 id="footer-links-container"><span id="footer-copyright" class="text-left">© All Rights Reserved 2017</span><span id="footer-links" class="text-center"><a href="#" id="footer-link-home">Home</a>  | <a href="#" id="footer-link-register">Register</a>  | <a href="#" id="footer-link-login">Login</a>  | <a href="#" id="footer-link-groups">Groups</a>  | <a href="#" id="footer-link-faq">FAQ</a>  | <a href="#" id="footer-link-advertisers">Advertisers</a>  | <a href="#" id="footer-link-corporate">Corporate</a>  | <a href="#" id="footer-link-careers">Careers</a></span><span id="footer-madeby" class="text-right">Website constructed by SlavCo</span></h3>
    </article>
  </section>
</footer>
