<link rel="stylesheet" type="text/css" href="css/register.css">
    <div class="background">
        <img src="../img/home/home_header_background.jpg" alt="background-image">
    </div>
<header id="header-container" class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand nav-txt-color" href="/"><strong>Wikendr</strong></a>
    </div>
    <h1 id="header-title" class="text-center">Let's Get You All Setup!<br>
    <small id="header-subtitle">Please fill in the registration form</small></h1>
</header>
<article class="container-fluid">
        <form name="registrationForm" ng-submit="submitForm(registrationForm.$valid)" novalidate method="post">
            <div class="form-group form">
                <fieldset>
                    <legend><span class="number-label"><strong>1</strong></span>Tell Us About Yourself</legend>
                    
<!-- Username Input -->                    
                    <div class="form-group" ng-class="{'has-error':!registrationForm.username.$valid && (!registrationForm.username.$pristine || registrationForm.$submitted),'has-success has-feedback':registrationForm.username.$valid && (!registrationForm.username.$pristine || registrationForm.$submitted)}">
                        <input type="text" name="username" ng-required="true" ng-minlength="3" ng-maxlength="10" ng-model="user.username" ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9])[\w]*$/" ng-trim="false" class="form-control " placeholder="Create Your Username *">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="registrationForm.username.$valid && (!registrationForm.username.$pristine || registrationForm.$submitted)"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            <div class=" alert alert-danger no-bot-pad" role="alert" ng-show="registrationForm.username.$error.minlength">
                                <p>Your Username is too Short</p>
                            </div>
                            <div class=" alert alert-danger no-bot-pad" ng-show="registrationForm.username.$error.maxlength">
                                <p>Your Username is too Long</p>
                            </div>
                            <div class=" alert alert-danger no-bot-pad" ng-show="registrationForm.username.$error.pattern">
                                <p>Your Username <strong>must</strong> contain only letters <strong>and</strong> numbers, without spaces or any other characters</p>
                            </div>
                            <p class="help-block" ng-show="registrationForm.username.$error.required && (!registrationForm.username.$pristine || registrationForm.$submitted)" >This field is required</p> 
                    </div><br ng-hide="(registrationForm.username.$error.minlength || registrationForm.username.$error.maxlength || registrationForm.username.$error.pattern || registrationForm.username.$error.required) && !registrationForm.username.$pristine">
<!-- Password Input -->
                    <div class="form-group" ng-class="{'has-error':!registrationForm.password.$valid && (!registrationForm.password.$pristine || registrationForm.$submitted || !usermatch),'has-success has-feedback':registrationForm.password.$valid && usermatch && (!registrationForm.password.$pristine || registrationForm.$submitted)}">
                        <input type="password" name="password" ng-required="true" user-match="{{user.username}}" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" ng-trim="false" ng-minlength="8" ng-maxlength="10" ng-model="password" class="form-control" placeholder="Type in Your Password *">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="registrationForm.password.$valid && (!registrationForm.password.$pristine || registrationForm.$submitted)"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                        <small class="no-bot-pad" ng-hide="!registrationForm.password.$pristine">Between 8 and 10 characters, minimum 1 Capital letter and 1 number</small>
                            <div class=" alert alert-danger no-bot-pad" ng-show="registrationForm.password.$error.minlength">
                                <p>Your password is too short. It needs to be at least 8 characters long</p>
                            </div>
                            <div class=" alert alert-danger no-bot-pad" ng-show="registrationForm.password.$error.maxlength">
                                <p>Your password is too long. It needs to be no more then 10 characters long</p>
                            </div>
                            <div class=" alert alert-danger no-bot-pad" ng-show="registrationForm.password.$error.pattern && (!registrationForm.password.$pristine && !registrationForm.password.$error.minlength && !registrationForm.password.$error.maxlength)">
                                <p>Your password needs to include at least 1 Capital Letter AND at least 1 Number</p>
                            </div>
                            <div class="alert alert-danger no-bot-pad" ng-show="!usermatch && !registrationForm.password.$pristine">
                                <p>Your password can't match your Username. Please select another one.</p>
                            </div> 
                            <p class="help-block" ng-show="registrationForm.password.$error.required && (!registrationForm.password.$pristine || registrationForm.$submitted)" >This field is required</p> 
                    </div><br ng-hide="(registrationForm.password.$error.minlength || registrationForm.password.$error.maxlength || registrationForm.password.$error.pattern || registrationForm.passsword.$error.required || !registrationForm.password.$valid) && !registrationForm.password.$pristine">
                    <!-- Match Password Input -->
                    <div class="form-group no-back" ng-class="{'has-error':!passmatch,'has-success has-feedback': passmatch}" ng-if="registrationForm.password.$valid && usermatch">
                        <input type="password" name="password2" ng-required="true" ng-model="confirm" class="form-control" placeholder="And again please... *" pass-match="{{password}}" >
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="passmatch"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            <div class="alert alert-danger no-bot-pad" ng-show="!passmatch && !registrationForm.password2.$pristine">
                                <p>Your passwords don't match. Please try again.</p>
                            </div>
                            <br ng-hide="!passmatch && !registrationForm.password2.$pristine">
                    </div>
                    
<!-- Email Input -->
                    <div class="form-group" ng-class="{'has-error':!registrationForm.email.$valid && (!registrationForm.email.$pristine || registrationForm.$submitted),'has-success has-feedback':!registrationForm.email.$pristine && registrationForm.email.$valid}">
                        <input type="email" name="email" ng-required="true" ng-pattern="/^([A-Za-z0-9_\-\.]){1,}\@([A-Za-z0-9_\-\.]){1,}\.([A-Za-z]){2,4}$/" ng-model="user.email" class="form-control" placeholder="What's Your Email Address? *">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="!registrationForm.email.$pristine && registrationForm.email.$valid"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            <div class="alert alert-danger no-bot-pad" ng-show="registrationForm.email.$error.pattern">
                                <p>Your Email is invalid. Please select another one.</p>
                            </div>
                        <p class="help-block" ng-show="registrationForm.email.$error.required && (!registrationForm.email.$pristine || registrationForm.$submitted)">This field is required</p>
                    </div>
                    <br ng-hide="!registrationForm.email.$valid && !registrationForm.email.$pristine">
<!-- DOB Input -->
                    <div class="form-group mar-bot no-back" ng-class="{'has-error':!registrationForm.dob.$valid && (!registrationForm.dob.$pristine || registrationForm.$submitted),'has-success':!registrationForm.dob.$pristine && registrationForm.dob.$valid}">
                        <div ng-class="{'error-box':registrationForm.dob.$error.required && (!registrationForm.dob.$pristine || registrationForm.$submitted),'success-box has-feedback':registrationForm.dob.$valid && !registrationForm.dob.$pristine}">
                            <label for="dob" id="dob" class="padding-right no-bot-pad"> Date of Birth: <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="!registrationForm.dob.$pristine && registrationForm.dob.$valid"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span></label>
                            <input type="date" name="dob" class="form-control-inline dob-input" ng-required="true" min="1947-01-01" max="1999-01-01" ng-model="birthdate" dob-format="{{birthdate | date:'dd-MM-yyyy'}}">
                            <div class="alert alert-danger" ng-show="!registrationForm.dob.$pristine && (registrationForm.dob.$error.min || registrationForm.dob.$error.max)">
                                <p>Your Date of Birth is invalid - You need to be between ages of 18 and 70 to use this service</p>
                            </div>
                        </div>
                        <p class="help-block back no-marg help-block-pad" ng-show="registrationForm.dob.$error.required && (!registrationForm.dob.$pristine || registrationForm.$submitted)">This field is required</p>
                    </div>

<!-- Gender Input -->
                    <div class="form-group no-back mar-bot" ng-class="{'has-error':registrationForm.$error.genderRequired && registrationForm.$submitted,'has-success':!registrationForm.$error.genderRequired}">
                        <div ng-class="{'error-box':registrationForm.$error.genderRequired && registrationForm.$submitted, 'success-box has-feedback':!registrationForm.$error.genderRequired}">
                            <label class="padding-right" id="gender">Your Gender: <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="!registrationForm.$error.genderRequired"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span> </label><label class="radio-inline">
                            <input type="radio" name="radio" value="male" ng-model="user.gender" gender="{{user.gender}}"><label class="label-text">Male</label>
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="radio" ng-model="user.gender" value="female"><label class="label-text">Female</label>
                            </label><br>
                        </div>
                        <p class="help-block back no-marg help-block-pad" ng-show="registrationForm.$error.genderRequired && registrationForm.$submitted">This field is required</p>
                    </div>
<!-- File Input -->
                    <div class="border-bottom">
                    <label class="padding-right" id="file" >Give Us Your Best Pic:</label>
                    <input type="file" id="file-upload" file-upload="user.file">
                    </div>

                </fieldset>
                <fieldset>
                    <legend id="legend"><span class="number-label"><strong>2</strong></span>Give Us a Clue</legend>
<!-- Interest Checkboxes -->
                    <div class="form-group no-back mar-bot" ng-class="{'has-error':registrationForm.$error.interestRequired}">
                        <div ng-class="{'error-box':registrationForm.$error.interestRequired && !registrationForm.$error.interestPristine}">
                            <ul id="interests">
                                <li id="list">
                                    <label>Select What You Enjoy Doing</label><br>
                                    <input type="checkbox" ng-change="interestcheck()" name="cycling" ng-true-value="'cycling'" ng-model="interests.cycling"><span class="input-label">Cycling</span><br>
                                    <input type="checkbox" ng-change="interestcheck()" name="hiking" ng-true-value="'hiking'" ng-model="interests.hiking"  ><span class="input-label">Hiking</span><br>
                                    <input type="checkbox" ng-change="interestcheck()" name="active_sports" ng-true-value="'active sports'" ng-model="interests.activeSports" ><span class="input-label">Active Sports</span><br>
                                    <input type="checkbox" ng-change="interestcheck()" name="extreme_sports" ng-true-value="'extreme sports'" ng-model="interests.extremeSports"><span class="input-label">Extreme Sports</span><br>
                                    <input type="checkbox" ng-change="interestcheck()" name="clubbing_music" ng-true-value="'clubbing music'" ng-model="interests.clubbingMusic"><span class="input-label">Clubbing/Music</span><br>
                                    <input type="checkbox" ng-change="interestcheck()" name="bars_restaurants" ng-true-value="'bar restaurant'" ng-model="interests.barsRestaurants"><span class="input-label">Bars/Restaurant</span><br>
                                    <input type="checkbox" ng-change="interestcheck()" name="cultural" interest="{{interests}}"ng-true-value="'cultural'" ng-model="interests.cultural"><span class="input-label">Cultural</span><br>
                                </li>
                            </ul>
                            <p class="help-block back no-marg help-block-pad text-center" ng-show="registrationForm.$error.interestRequired && !registrationForm.$error.interestPristine">Please provide at least 1 option</p>
                        </div>
                    </div>
<!-- About Section -->
                    <textarea id="about-you" class="form-control" rows="3" ng-model="user.about" placeholder="How Would You Describe Yourself?"></textarea>
                    <button id="register" type="submit" class="btn btn-primary btn-lg btn-block"><strong>Register</strong></button>
                </fieldset>
                
            </div>
        </form>
</article>
  

